:root {
  --color1: #9B1B30 ;
  --color2: #8C1515 ;
  
  --color3: #1A1A1A ;
  --color4: #2C2C2C ;
  --color5: #8B8D8E ;
  --color6: #A8A9AD ;
  --color7: #FFFFFF ;

  --color8: #004225 ;
  --color9: #1B4D3E ;
  --color10: #2C5F2D ;

  --accent-color: #B8860B ;
}



@font-face {
    font-family: "rochester";
    src: url(fonts/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: "sequel";
    src: url(fonts/Sequel100Black-65.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url("/ui/pic/background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

#arrowbounce {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 400px;
    width: 450px;
}

main.scrolled #arrowbounce {
    display: none;
}

header h1 {
    font-family: "rochester";
    font-size: 40px;
    margin: 10px;
}

#head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: transparent;
    border-radius: 50px;
    backdrop-filter: brightness(75%) blur(8px);
    transition: 500ms;
}




#alignement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: transform 250ms ease, opacity 250ms ease, height 250ms ease;
    will-change: transform, opacity;
}

#imglogo {
    display: block;
    height: 60px;
    width: auto;
    
}



#leftderoulant1 {
    margin-left: 100px;
}
#leftderoulant2 {
    margin-left: 100px
}
#rightderoulant1 {
    margin-right: 100px
}
#rightderoulant2 {
    margin-right: 100px;
}


/*_-_-_-_-_-_-_-_-_-_-_-_ HEADER TRANSITION _-_-_-_-_-_-_-_-_-_-_-_-_*/


header {
    position: sticky;
    top: 0;    
    z-index: 100;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
};

#alignement {
    transition: transform 250ms ease, opacity 250ms ease, height 250ms ease;
    will-change: transform, opacity;
}

#head .nav {
    transition: transform 250ms ease;
}

header.scrolled #alignement {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    height: 0;
    margin: 0;
    padding: 0;
    filter: blur(5px);
}

header.scrolled #head .nav:first-child {
    transform: translateX(40%);
    transform: scaleX(120%);
}

header.scrolled #head .nav:last-child {
    transform: translateX(-60%);
    transform: scaleX(120%);
}

header.scrolled .titremenu {
    font-size: 30px;
    transition: 300ms;
}

header.scrolled #head {
    transform: scaleX(80%);
    transition: 500ms;
    border-radius: 500px;
    
}


header.scrolled nav a {
    border-bottom: none;
}
/*_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

nav{
    position: sticky;
    top: 0px;
    margin-top: 50px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}


nav ul li{
    width: 50%;
    text-align: center;
    position: relative;
    margin: 0px;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    border-bottom: 2px solid var(--accent-color);
    padding: 10px 0px;
    color: var(--color4);
    transition: 500ms;

    
}

nav a:hover{
    color: var(--color2);
    transition: 300ms;
}


.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;

}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    font-size: 12px;
}

.titremenu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-size: 18px;
    font-family: "sequel"

}


main p {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 15px;
    backdrop-filter: brightness(75%) blur(8px);
    border: 3px solid black;
    border-radius: 20px;
    transition: 1s;
    position: absolute;
    left: -9999px;
    
}

#contenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.elt p {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70%;
}

.elt2 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}


main.scrolled p {
    color:#1B4D3E;
    display: block;
    position: initial;
    transform: translateY(-500px);
}

