:root {
  --color1: #9B1B30 ;
  --color2: #8C1515 ;
  
  --color3: #1A1A1A ;
  --color4: #2C2C2C ;
  --color5: #8B8D8E ;
  --color6: #A8A9AD ;
  --color7: #FFFFFF ;

  --color8: #004225 ;
  --color9: #1B4D3E ;
  --color10: #2C5F2D ;

  --accent-color: #B8860B ;
}

@font-face {
    font-family: "rochester";
    src: url(fonts/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: "sequel";
    src: url(fonts/Sequel100Black-65.ttf);
}

body {
    background-color: var(--color7);
    margin: 0;
    padding: 0;
}


header h1 {
    font-family: "rochester";
    font-size: 40px;
    margin: 10;
}

#head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#alignement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: transform 250ms ease, opacity 250ms ease, height 250ms ease;
    will-change: transform, opacity;
}

#imglogo {
    display: block;
    height: 60px;
    width: auto;
    
}

/*_-_-_-_-_-_-_-_-_-_-_-_ HEADER TRANSITION _-_-_-_-_-_-_-_-_-_-_-_-_*/


header {
    position: sticky;
    top: 0;
    z-index: 100;
}

#alignement {
    transition: transform 250ms ease, opacity 250ms ease, height 250ms ease;
    will-change: transform, opacity;
}

#head .nav {
    transition: transform 250ms ease;
    will-change: transform;
}

header.scrolled #alignement {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    height: 0;
    margin: 0;
    padding: 0;
    filter: blur(5px);
}

header.scrolled #head .nav:first-child {
    transform: translateX(240px);
}

header.scrolled #head .nav:last-child {
    transform: translateX(-240px); 
}

header.scrolled #head {
    backdrop-filter: blur(2px);
}


/*_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

nav{
    background-color: white;
    position: sticky;
    top: 0px;
    margin-top: 50px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}


nav ul li{
    width: 50%;
    text-align: center;
    position: relative;
    margin: 0px;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid var(--accent-color);
    padding: 10px 0px;
}

nav a:hover{
    color: var(--color2);
    transition: 300ms;
}


.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;

}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    font-size: 12px;
}

.titremenu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-size: 18px;
    font-family: "sequel"

}


main p {
    width: 75%;
    text-align: center;
    margin: auto;
    margin-top: 200px;
   
}