:root {
  --color1: #9B1B30 ;
  --color2: #8C1515 ;
  
  --color3: #1A1A1A ;
  --color4: #2C2C2C ;
  --color5: #8B8D8E ;
  --color6: #A8A9AD ;
  --color7: #FFFFFF ;

  --color8: #004225 ;
  --color9: #1B4D3E ;
  --color10: #2C5F2D ;

  --accent-color: #B8860B ;
}

@font-face {
    font-family: "rochester";
    src: url(fonts/Rochester-Regular.ttf);
}

body {
    background-color: var(--color7);
    margin: 0;
    padding: 0;
}

header h1 {
    font-family: "rochester";
    font-size: 50px;
    margin: 0;
    padding: 0;
}

#logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#alignement {
    display: flex;
    align-items: center;
        justify-content: center;
    gap: 15px;
}

#imglogo {
    display: block;
    height: 60px;
    width: auto;
}
